*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:#f4f4f4;
    color:#333;
}

header{
    background:#0d5c2f;
    color:white;
    padding:15px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:sticky;
    top:0;
    z-index:1000;
}

.logo{
    font-size:1.8rem;
    font-weight:bold;
}

nav ul{
    display:flex;
    list-style:none;
    gap:20px;
}

nav a{
    color:white;
    text-decoration:none;
    transition:0.3s;
}

nav a:hover{
    color:silver;
}

.hero{
    height:70vh;
    background:
    linear-gradient(rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)),
    url('https://images.unsplash.com/photo-1500937386664-56d1dfef3854');
    background-size:cover;
    background-position:center;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
}

.hero h1{
    font-size:3.5rem;
    margin-bottom:15px;
}

.hero p{
    font-size:1.2rem;
    margin-bottom:20px;
}

.hero button{
    background:silver;
    color:#0d5c2f;
    border:none;
    padding:12px 25px;
    border-radius:8px;
    cursor:pointer;
    font-weight:bold;
}

.hero button:hover{
    background:white;
}

section{
    padding:60px 10%;
}

h2{
    text-align:center;
    color:#0d5c2f;
    margin-bottom:25px;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
}

.card{
    background:white;
    padding:25px;
    border-radius:12px;
    border-top:5px solid #0d5c2f;
    box-shadow:0 4px 12px rgba(0,0,0,0.1);
}

.card h3{
    color:#0d5c2f;
    margin-bottom:15px;
}

.card ul{
    list-style:disc;
    padding-left:20px;
}

.curiosidades ul{
    max-width:800px;
    margin:auto;
    list-style:circle;
    line-height:1.8;
}

.contato form{
    max-width:600px;
    margin:auto;
    display:flex;
    flex-direction:column;
    gap:15px;
}

.contato input,
.contato textarea{
    padding:12px;
    border:1px solid silver;
    border-radius:8px;
}

.contato textarea{
    min-height:140px;
}

.contato button{
    background:#0d5c2f;
    color:white;
    border:none;
    padding:12px;
    border-radius:8px;
    cursor:pointer;
}

.contato button:hover{
    background:#0a4724;
}

footer{
    background:#0d5c2f;
    color:white;
    text-align:center;
    padding:20px;
}

@media(max-width:768px){
    header{
        flex-direction:column;
        gap:10px;
    }

    nav ul{
        flex-wrap:wrap;
        justify-content:center;
    }

    .hero h1{
        font-size:2.5rem;
    }
}